/* GLOBALS ---------------------------------------------------------------*/
:root {
    --card-bg-1: rgba(255, 239, 216, 0.5);
}

body {
    font-family: verdana;
    background-color: #adadad;
}

/* NAVBAR STYLES ---------------------------------------------------------*/
nav {
    position: fixed;
    z-index: 10;
}

/* LANDING STYLES --------------------------------------------------------*/
#about {
    background-image: url("../images/pandl-color-rect.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    text-shadow: 0 2px 10px white;
    font-size: 1.2rem;
}

.jumbotron {
    background-color: var(--card-bg-1);
    margin-top: 60px;
}

/* REVIEW CARD STYLES ----------------------------------------------------*/
#reviews {
    height: auto;
}

#reviewAccordion > div > ul {
    display: flex;
}

#reviewDisplay {
    text-align: center;
    padding: 10px;
    background-color: #FFF8E7;
}

#albumArt {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px outset gold;
    border-radius: 10px;
}

/* STAFF CARD STYLES -----------------------------------------------------*/
#staff {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: white;
}

.staffContainer {
    height: auto;
    text-align: center;
    padding: 20px;
}

.staffContainer > img {
    width: 150px;
    height: 150px;
    border: 6px outset gold;
    border-radius: 51%;
}

/* CONTACT CARD STYLES ---------------------------------------------------*/
form {
    background-color: black;
    padding: 10px;
    text-align: left;
    padding-top: 20px;
}

form > h3 {
    text-align: center;
}

/* Media Queries -------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 1000px) {
    iframe {
        width: 100%;
        height: 200px;
    }
}